<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welome page</title>
    <style>
        * { text-align: center; margin: 0; padding: 0; font-family: Arial,
        Helvetica, sans-serif; color: #333; } img { height: 300px; margin: 15px;
                                                  margin-bottom: 0px; border-radius: 7px; } h4,h6 { margin: 15px; } body {
                                                                                                                        padding: 50px; width: 100%; } .page { padding-top: 15px; text-align:
                center; position: relative; background-color: #FB5607; margin: auto;
                                                                                                                                                          overflow: hidden; } .footer { background-color: #eee; padding: 15px;
                                                                                                                                                                                  color: #333; } .page p { padding-bottom: 15px; } .container * { color:
                #eee; } .page .footer h4 { padding-top: 15px; } .logo { text-align: left;
                                                                    margin-left: 50px; margin-top: 10px; font-size: 25px; font-weight: bold;
                                                                    color: white; } a { text-decoration: none; color: white; font-weight:
                bold; text-transform: uppercase; padding: 15px; border-radius: 10px; } h6{
                                                                                           font-size: 14px; } .line { width: 70%; margin: auto; height: 0.2px;
                                                                                                                  background-color: #bbb; margin-bottom: 30px; } .btn { width: 200px;
                                                                                                                                                                     background-color: rgb(0, 0, 93); margin: auto; padding-top: 15px;
                                                                                                                                                                     padding-bottom: 15px; border-radius: 15px; } .container { padding-bottom:
                40px; color: white; width: 600px; margin: auto; } p { width: 500px;
                                                                      margin: auto; margin-top: 15px; margin-bottom: 15px; }
    </style>
</head>
<body>
<div class="page">

    <div class="logo">Buy-it</div>
    <div class="container">
        <h4>Hello, {{name}}</h4>
        <h2>Nice to meet you!</h2>
        <img
                src="https://firebasestorage.googleapis.com/v0/b/buy-it-73f61.appspot.com/o/uploads%2Fsrc%2Fwelcome.png?alt=media&token=f4cbfa00-35cd-46f0-b344-81d0ba11b83c"
                alt=""
        />
        <p>
            Welcome to our online store! We offer a wide range of high-quality
            products at competitive prices, with a seamless shopping experience
            from start to finish.
        </p>
        <div class="btn"><a href="">Start Shopping</a></div>

    </div>
    <div class="footer">
        <h4>Thank you for chossing Buy-it</h4>
        <h6>Explore shopping with ease</h6>
        <p>
            Shop with confidence knowing our secure checkout and fast shipping are
            here to help. Thank you for choosing us - happy shopping!
        </p>
        <div class="line"></div>
    </div>
</div>

</body>
</html>